/ nav.navbar.navbar-light.bg-light.fixed-top
/   .container-fluid
/     a.navbar-brand[href="#"]
/       | Offcanvas navbar
/     button.navbar-toggler[type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"]
/       span.navbar-toggler-icon
/     #offcanvasNavbar.offcanvas.offcanvas-end[tabindex="-1" aria-labelledby="offcanvasNavbarLabel"]
/       .offcanvas-header
/         h5#offcanvasNavbarLabel.offcanvas-title
/           | Offcanvas
/         button.btn-close.text-reset[type="button" data-bs-dismiss="offcanvas" aria-label="Close"]
/       .offcanvas-body
/         ul.navbar-nav.justify-content-end.flex-grow-1.pe-3
/           li.nav-item
/             a.nav-link.active[aria-current="page" href="#"]
/               | Home
/           li.nav-item
/             a.nav-link[href="#"]
/               | Link
/           li.nav-item.dropdown
/             a#offcanvasNavbarDropdown.nav-link.dropdown-toggle[href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"]
/               |  Dropdown 
/             ul.dropdown-menu[aria-labelledby="offcanvasNavbarDropdown"]
/               li
/                 a.dropdown-item[href="#"]
/                   | Action
/               li
/                 a.dropdown-item[href="#"]
/                   | Another action
/               li
/                 hr.dropdown-divider
/               li
/                 a.dropdown-item[href="#"]
/                   | Something else here
/         form.d-flex
/           input.form-control.me-2[type="search" placeholder="Search" aria-label="Search"]
/           button.btn.btn-outline-success[type="submit"]
/             | Search